* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #4b525f;  
    font-family: "JetBrains Mono",monospace;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #dddddd;
      /* footer support */
  margin-bottom: 100px;
}

/* HEADER */

.h1 {
    font-size: 80px;
    text-align: center;
    color: #4b525f;
    background-color: #9bcfdb;
    padding: 24px;
}

/* black-color #24272E or #4b525f */

/* MAIN */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 50px 100px;
    margin: 0 auto;
    max-width: 1100px;
}

button,
input {
  width: 100%;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;

}

.colorPicker {
    width:100px;
    height:100px;
    overflow: hidden;
    border-radius:100%;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #0c0c10 0 -4px 0 inset;
}

.colorPicker:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #0c0c10 0 -3px 0 inset;
    transform: translateY(-1px);
}

input[type = "color"] {
    width:100%;
    height:100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000001A;
    transform: scale(1.5);
}

 .btn {
    align-items: center;
    appearance: none;
    background-color: #4b525f;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #0c0c10 0 -3px 0 inset;
    box-sizing: border-box;
    color: #9bcfdb;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    width: 100px;
    will-change: box-shadow,transform;
    font-size: 18px;
}

.btn:focus {
    box-shadow: #0c0c10 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #0c0c10 0 -3px 0 inset;
}
  
.btn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #0c0c10 0 -3px 0 inset;
    transform: translateY(-2px);
}
  
.btn:active {
    box-shadow: #0c0c10 0 3px 7px inset;
    transform: translateY(2px);
}



#sizeValue {
    font-size: 1.5em;
    margin-bottom: -20px;
    color: #0c0c10;
} 

input[type=range] {
    height: 31px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 200px;
    background-color: #dddddd;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    animation: 0.2s;
    box-shadow: 1px 1px 3px #000000;
    background: #4b525f;
    border-radius: 13px;
    border: 1px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 2px 2px 3px #696969;
    border: 1px solid #09020A;
    height: 22px;
    width: 10px;
    border-radius: 33px;
    background: #FCFFFE;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #4b525f;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    animation: 0.2s;
    box-shadow: 1px 1px 3px #000000;
    background: #4b525f;
    border-radius: 13px;
    border: 1px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 2px 2px 3px #696969;
    border: 1px solid #09020A;
    height: 22px;
    width: 10px;
    border-radius: 33px;
    background: #FCFFFE;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    animation: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #4b525f;
    border: 1px solid #000000;
    border-radius: 26px;
    box-shadow: 1px 1px 3px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #4b525f;
    border: 1px solid #000000;
    border-radius: 26px;
    box-shadow: 1px 1px 3px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 2px 2px 3px #696969;
    border: 1px solid #09020A;
    height: 22px;
    width: 10px;
    border-radius: 33px;
    background: #FCFFFE;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #4b525f;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #4b525f;
  }

.grid {
  width: 500px;
  height: 500px;
  display: grid;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 15px;
}

/* FOOTER */

.footer {
    /* position absolute brings footer to bootm */
    position: absolute;
    background-color: #464646;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

.footer > p {
    color: whitesmoke;
}
/* github style + html icon head link*/
.fa-github {
    color: whitesmoke;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
  }
  
  .fa-github:hover {
    transform: rotate(360deg) scale(1.2);
  }

  